*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;            /* make body full height */
    background-color: rgb(87, 51, 7);
}

#h1id{
    color: rgb(204, 0, 0);
    padding: 1%;
    margin: 1%;
}

#h4id{
    color: rgb(0, 0, 195);
    padding: 1%;
    margin: 1%;
}

#btnid{
    background-color: #100000;
    color: rgb(175, 37, 37);
    padding: 1%;
    margin: 1%;
    border-radius: 4% ;
}